@import "../../index.css";

.app__about {
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding-bottom: 1rem;
}

.about__carousal {
    width: 100%;
}

.about__description {
    width: 1200px;
    max-width: 100%;
    margin: 2rem auto 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.8rem;
}


.description p {
    font-family: var(--primaryFont);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: left;
    color: var(--whiteColor);
}

.go__back {
    width: 1200px;
    max-width: 100%;
    margin: auto;
}