@import "../../index.css";

.app__home {
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
}

/* Section 1 */

.home__section1 {
    width: 100%;
}

.section1__redirects {
    width: 100%;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.redirect__link {
    padding: 12px 18px;
    border-radius: 0.5px;
    border: 1px solid var(--whiteColor);
    font-family: var(--primaryFont);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: var(--whiteColor);
}

/* Section 1 */

/* Section 2 */

.home__section2 {
    width: 1200px;
    max-width: 100%;
    height: 100%;
    margin: 3rem auto;
    padding: 0 1rem;
}

.section2__head {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.section2__head a {
    font-family: var(--primaryFont);
    font-size: 16px;
    color: #9f9f9fcb;
    transition: all 0.2s linear;
}

.section2__head a:hover {
    transform: scale(0.95);
    color: var(--whiteColor);
}

.section2__content {
    width: 100%;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.seller__box {
    height: 240px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 8px;
    gap: 0.6rem;
}

.seller__box img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.seller__box p {
    font-family: var(--primaryFont);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: var(--whiteColor);
}

/* Section 2 */

/* Section 3 */

.home__section3 {
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin: 2rem auto 3rem auto;
}

.section3__head {
    width: 1200px;
    max-width: 100%;
    margin: 1rem auto;
    padding: 1rem;
}

.section3__content {
    width: 100%;
}

/* Section 3 */

/* Section 4 */

.home__section4 {
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin: 2rem auto 3rem auto;
}

.section4__head {
    width: 1200px;
    max-width: 100%;
    margin: 1rem auto;
    padding: 1rem;
}

.section4__content {
    width: 100%;
    height: 60vh;
    background-image: url('https://images.unsplash.com/photo-1597290282695-edc43d0e7129?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NTQwNDF8MHwxfHNlYXJjaHw0fHxiYXJ8ZW58MHx8fHwxNjg1ODY5Mjk1fDA&ixlib=rb-4.0.3&q=80&w=1080');
    background-size: contain;
    position: relative;
}

.quick__opaq {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background-color: #0b0b0b;
    opacity: 0.5;
    z-index: 0;
}

.content4__track {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
    position: relative;
    z-index: 10;
}

.content4__track::-webkit-scrollbar {
    height: 0;
}

.track4__item {
    width: 100%;
    height: 100%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
}

.track4__item p {
    font-family: var(--primaryFont);
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    width: 800px;
    max-width: 96%;
    text-align: center;
}

.track4__item p:nth-child(1) {
    color: #D3D3D3;
}

.track4__item p:nth-child(2) {
    color: var(--goldVariant4);
    font-weight: 800;
}

/* Section 4 */

/* Section 5 */

.home__section5 {
    width: 1200px;
    max-width: 100%;
    padding: 0 1rem;
    height: 100%;
    margin: 2rem auto 1rem auto;
}

.section5__head {
    width: 100%;
    margin: 1rem auto;
}

.section5__content {
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.section5__content img {
    width: 500px;
    max-width: 100%;
    height: 90%;
    object-fit: contain;
}

.section5__content p {
    font-family: var(--primaryFont);
    font-style: normal;
    font-weight: 400;
    width: 600px;
    max-width: 100%;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: var(--whiteColor);
}

/* Section 5 */

/* Media Queries */

@media all and (max-width : 1218px) {

    /* Section 2 */

    .section2__content {
        grid-template-columns: repeat(2, 1fr);
    }

    .seller__box {
        height: 320px;
    }

    .seller__box img {
        height: 240px;
    }

    /* Section 2 */

    /* Section 4 */

    .section4__content {
        height: 40vh;
    }

    .track4__item p {
        font-size: 22px;
    }

    /* Section 4 */
}


@media all and (max-width : 700px) {

    /* Section 1 */

    .redirect__link {
        padding: 8px 16px;
        font-size: 16px;
    }

    /* Section 1 */

    /* Section 2 */

    .section2__content {
        display: flex;
        flex-direction: row;
        gap: 1.4rem;
        justify-content: flex-start;
        align-items: center;
        overflow-x: scroll;
    }

    .section2__content::-webkit-scrollbar {
        height: 0;
    }

    .seller__box {
        width: 300px;
    }

    /* Section 2 */

    /* Section 5 */
    
    .section5__content p {
        font-size: 20px;
        line-height: 24px;
    }

    /* Section 5 */
}

@media all and (max-width : 500px) {

    /* Section 2 */

    .seller__box {
        width: 220px;
        height: 240px;
    }

    .seller__box img {
        width: 100%;
        height: 200px;
    }

    /* Section 2 */
}

/* Media Queries */