@import "../../index.css";

.back__home {
    width: 100%;
    max-width: 100%;
    margin: 2rem auto 1rem;
}

.back__home a {
    text-align: left;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.6rem;
    color: #9f9f9fcb;
    transition: all 0.2s linear;
}

.back__home a:hover {
    color: var(--whiteColor);
}

.back__home a ion-icon {
    font-size: 24px;
}

.back__home a span {
    font-family: var(--primaryFont);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

@media all and (max-width : 700px) {
    .back__home {
        padding: 0 1rem;
        margin: 1.6rem auto;
    }
}