@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright&family=Inter&display=swap');

:root {

  /* Font Families */
  --primaryFont : 'Cormorant Upright', serif;
  --secondaryFont : 'Inter', sans-serif;

  /* Colors */
  --grayColor : #414141;
  --blackColor : #070707;
  --whiteColor : #FDFDFD;
  
  --goldColor : #C49C4D;
  /* Gold Variants */
  --goldVariant1 : #A67838;
  --goldVariant2 : #8D6734;
  --goldVariant3 : #D7B777;
  --goldVariant4 : #EAD3A6;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.app {
  padding-bottom: 76px;
  background-color: var(--blackColor);
}

.app__main {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  background-color: var(--blackColor);
  overflow-x: hidden;
  position: relative;
}

.main__center {
  width: 1500px;
  max-width: 100%;
  height: 100%;
  margin: auto;
}